.container{
    display: flex;
    flex-direction: column;
    align-items: center; /* x-axis */

    margin-top: 10px;
    margin-bottom: 10px;
    gap: 20px;
}

.entry{
    /* position: relative; */

    background-color: white;
    width: 100%;
    height: 70px;
    /* gap: 20px; */

    display: flex;
    flex-direction: row;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    border-color: black;
    border-width: 1.5px;
}

.file{
    display: flex;
    gap: 20px;
    width: auto;
    padding-right: 20px;

    /* for text */
    color: black;
    font-size: 20px;
    align-items: center;
    font-weight: 400;
}

.meta_buttons{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.trash_button{
    height: 50px;
    width: 50px;

    /* margin-right: 20px; */
    background-color: #e00000;
    border-radius: 100px;

    border-color: black;
    border-width: 1.5px;

    align-items: center;
    justify-content: center;
    display: flex;
}

/* ---------------- */
/* from json editor */
.editor_container{
    position: absolute;

    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 10px;

    align-items: center; /* y-axis centering */
    justify-content: center; /* x-axis centering */
    gap: 10px;

    width: 90%;
    height: 600px;

    background-color: #F7F7F7;

    border-width: 1.5px;
    border-color: black;

    /* text-align: center; */
    margin: auto;
}

.filename_header{
    width: 90%;
    text-align: left;
    font-weight: 400;
    color: black;
}

.filename_textarea{
    width: 90%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    resize: none;

    border-width: 1.5px;
    border-color: black;
}

.editor{
    border-width: 1.5px;
    border-color: black;
}

.save_close_buttons{
    display: flex;
    flex: row;

    padding-top: 5px;
    width: 90%;
    height: auto;

    justify-content: right;
    gap: 10px;
}