/* change to globals.css */
/* to emulate maxwidthwrapper */
.container{
    /* max-width: 1280px; */
    width: 100%;
    height: auto;

    margin-left: auto;
    margin-right: auto;
}
.header_section{
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #FFFFFF;

    align-items: center;
    text-align: left;
    padding-left: 5%;

    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
}

.instruction{
    font-weight: 600;
}