/* .deletion */
.deletion {
    position: relative;
    color: red;
}

.deletion::before,
.addition::before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -10px;
}

.deletion::before
{
    content: '-';
}

/* addition */
.addition {
    position: relative;
    color: green;
}

.addition::before {
    content: '+';
}

/* json input */
.jsonInput
{   
    display: flex;
    margin-bottom: 10px;
}