.editor_container{
    display: flex;
    flex-direction: column;

    align-items: center; /* y-axis centering */
    justify-content: center; /* x-axis centering */

    width: 80%;
    height: 500px;

    background-color: #D5B7D6;
}