.container{
    background-color: #263343;
    height: 75px;
    width: 100%;
    padding-left: 50px;

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.logo_link{
    display: flex;
    flex-direction: row;
    gap: 20px;

    height: 100%;
    width: auto;

    align-items: center;
    justify-content: left;
    text-align: left;
}
.image{
    display: flex;

    margin: auto;
    align-items: center;
    width: auto;
}
.header_name{
    display: flex;

    color: white;
    font-weight: 600;
    font-size: 40px;
    font-weight: bold;    

    width: auto;

    white-space: nowrap;
    overflow: hidden;
}

.nav_links{
    display: flex;
    flex-direction: row;

    height: 100%;
    width: auto;

    padding-bottom: 15px;
    padding-left: 30px;

    color: white;
    gap: 50px;
    font-size: 17px;
    font-weight: 500;

    text-align: left;
    justify-content: left;
    align-items: flex-end;
}